<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} | {{ settings.site-title }}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,700|Merriweather' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ settings.base-url }}/stylesheets/main.css">
	<link rel="stylesheet" href="{{ settings.base-url }}/stylesheets/bigfoot-default.css">
	
	<meta name="twitter:creator" content="@n10111">
	<meta name="twitter:title" content="{{ title }}">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:url" content="{{ pageURL }}">
	<meta property="article:published_time" content="{{ isoDate }}">
	
	<link rel="canonical" href="{{ pageURL }}">	
</head>

<body>
	<header>
		<h2 class="site-title"><a href="{{ settings.base-url }}">{{ settings.site-title }} <br class="visible-mobile" /><span class="site-subtitle">{{ settings.subtitle }}</span></a></h2>
		<div class="pure-menu pure-menu-open pure-menu-horizontal">
			<ul>
				<li><a href="{{ settings.base-url }}/about">About</a></li>
				<li class="hidden-mobile"><a href="http://twitter.com/n10111">Twitter</a></li>
				<li><a href="{{ settings.base-url }}/contact" target="_blank">Contact</a></li>
				<li class="hidden-mobile"><a href="{{ settings.base-url }}/projects">Projects</a></li>
				<li><a href="{{ settings.base-url }}/archive">Archive</a></li>
    		</ul>
		</div>
	</header>
	<div id="main-content">
		
